body {

	justify-content: ;
    background-color: black;
    min-width: 50%;
}
@media only screen and (max-width: 1500px) {
        html, body , li {                 
                margin-left:0%;
                margin-right:0%;  
                margin-top:0%;
            	

               
    }
 }
@media only screen and (min-width:700px) {
html, body  {
            margin-left:0%;
            margin-right:0%;
            margin-top:0%;
    }

    .container3{
        align-items: left;
    }
    
}
.menu-bar {
	 position: absolute;
  top: 60px;
    left: 1px;
	align-items: left;
	border-radius: 30px;
	height: fit-content;
	display: inline-flex;
	background-color: rgba(0, 0, 0, .3);
	-webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);  

	
}
li {

		list-style: none;
		color: white;
		font-family: sans-serif;
		font-weight: ;
		padding: 0px 4px 4px 10px;
		margin: 20px 1px;
		cursor: pointer;
		white-space: nowrap;
		&::before {
			content: none;
			position: ;
			top: 0;
			left:0;
			height:100%;
			width: 100%;
			z-index:-1;
			transition: .2s;
			border-radius: 25px;
		}
			
	}
.hist{
    left: -10px;
}
#pr{
    align-items: center;
     position: absolute;
    color: black;
}
#Histoire{
	background-color: black;
opacity: 100%;
border-radius: 30px;
font-family: 'Yanone Kaffeesatz', sans-serif;
}
#Histoire p{
	font-size: 30px;
}


.container {
  text-align: center;

}
.container2 {
  text-align: center;
  color: white;
}

.bottom-left {
  position: absolute;
  top: 458px;
  left: 16px;
}

.top-left {
  position: absolute;
  top: 15px;
  left: 16px;

font-family: 'Do Hyeon', sans-serif;
color: black;
font-size: 30px;
letter-spacing: 10px;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#Modeles{
	background-color: black;
	opacity: 80%;
    border-radius: 30px;
    display: inline-flex;
    font-family:'Yanone Kaffeesatz', sans-serif;
   
}
#mod{
    padding-bottom: 480px;
    padding-top:250px;
    font-family: 'Yanone Kaffeesatz', sans-serif;

}
.firstmodel{
font-family: 'Yanone Kaffeesatz', sans-serif;
font-size:30px;
    padding-left: 9%;
}
.secondmodel{
font-family: 'Yanone Kaffeesatz', sans-serif;
font-size:30px;   
    margin-left: -1%;

}
.thirdmodel{
font-family: 'Yanone Kaffeesatz', sans-serif;
font-size:30px; 
    margin-left: -1%;

}
.fourthmodel{
font-family: 'Yanone Kaffeesatz', sans-serif;
font-size:30px; 
    margin-left: -9%;
}

a{
	text-decoration: none;

}






.container3 {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left1 {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left1 {
  position: absolute;
  top: 8px;
  left: 16px;
  background-color: transparent;
  background-color: rgba(0, 0, 0, .3);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 25px;

}

.motor{
    font-size:17px;
}

/* Bottom right text */
.bottom-right1 {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered5 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, .3);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 25px;
    max-width: 100%;
}


.mySlides {display:none;}
#Gallerie{
    margin-top: 280px;
    padding-bottom:200px;
}
.container4 {
    margin-top: 220px;

  position: relative;
  text-align: center;
    color: white;
}
.centered5{
    margin-top: 250px;
}

#foot{
    width: 100%;
    color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
font-size: 30px;
    text-align: right;
}
















